// .header{

// }
.header__logo_icon{
    width: 78.43px;
    height:24px ;
    fill: var(--header-logo-icon-color);
}









.mobile-menu_open__icon{
    width: 24px;
    height: 24px;
    fill: var(--menu-open-icon-color);
}