.section{
    padding-top: 48px;
    padding-bottom:48px;
}
@media screen and (min-width: 768px) {
.section{
    padding: 80px 20px;
}
}
@media screen and (min-width: 1200px) {
    .section{
        padding: 120px 52px;
    }
}