:root{
    --font:'Sen', sans-serif;
    --primary-background-color:#000000;
    --header-logo-icon-color:#FFFFFF;
    --menu-open-icon-color:#C4C4C4;
    --primary--text-light-color:#FFFFFF;
    --accent-color:#5221E6;
}