:root{
    --font:'Sen', sans-serif;
    --link-about-me-color:#181823;
    --link-about-me-border-color:#8491A0 ;
    --primary-background-color:#000000;
    --header-logo-icon-color:#FFFFFF;
    --menu-open-icon-color:#C4C4C4;
    --primary--text-light-color:#FFFFFF;
    --primary-text-dark-color:#181823;
    --accent-color:#5221E6;
    --hero-border-color:#808080;
    --hero-title-second-color:rgba(255, 255, 255, 0.5);
    --page-text-color:#8491A0;
    --secondary-text-color:#8491A0;
    --expirience__link_first-color:#3CC74E;
    --expirience__link_second-color:#609BFF;
    --expirience__link_third-color:#E95D90;
    --values-background-color:#FFF3E4;
    --values--text-color:#5B6876;
    --skillset-icon-color:#5221E6;
    --client-icon-color:#8491A0;
    --client-link-border-color:#181823;
    --projects-card-info-bcg-color:#181823;
    --instagram-bcg-color:#FFF3E4;
    --instagram-text-color:#5B6876;
    --instagram-link-color:#181823;
    --link-instagram-border-color:#8491A0 ;
    --link-dribble-border-color:#8491A0 ;
    --dribble-circle-color:#5B6876;
    --drible-img-box-color:#181823;
    --link-review-border-color:#8491A0 ;
}